NEXTAUTH_URL=
NEXTAUTH_SECRET=

NEXT_PUBLIC_REGISTER_URL=
NEXT_PUBLIC_LOGIN_URL=
NEXT_PUBLIC_DATA_USERS_URL=

NEXT_PUBLIC_ABOUT_URL=
NEXT_PUBLIC_HIGHLIGHT_URL=
NEXT_PUBLIC_PRICING_URL=
NEXT_PUBLIC_TESTIMONY_URL=
NEXT_PUBLIC_COUNTING_URL=
NEXT_PUBLIC_CLIENT_URL=
NEXT_PUBLIC_CONTACT_URL=

# Just Example
NEXT_PUBLIC_EXAMPLE_URL=https://just-example-url